<!doctype html>
<html lang="en">
<head>
  <meta charSet="utf-8" />
  <meta name="robots" content="noindex" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
  <link rel='stylesheet' href='{{{host}}}/static/main.css'>
</head>
<body>
  <section class="app-container"></section>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpIG0sA5yJ5v6dYCdVig1iZdh58D-n6V8"></script>
  <script src="{{{host}}}/static/main.js"></script>
</body>
</html>
